html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #7159c1;
}

header {
    background: yellow;
    grid-area: h;
}

nav .logo{
    color: rgb(224, 20, 20);
    float: center;
    display: block;
    padding: 14px 16px;
}

nav .a{
    color: white;
    float: right;
}

main {
    background: blue;
    grid-area: m;
}

#aside1 {
    background: green;
    grid-area: a1;
}
#aside2{
    background: green;
    grid-area: a2;
}

footer {
    background: red;
    grid-area: f;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 5vh 70vh 10vh;
    grid-template-areas: "h h h"
                         "a1 m a2"
                         "f f f";
}