@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carrois Gothic', sans-serif;
}

a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.5;
}

.logo{
    font-size:24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    
}
header{
    position: fixed;
    top: 0px;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: black;
    height: 10vh;
    
    width: 100%;
}

.nav-list{
    display: flex;
    list-style: none;
    
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 25px;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: 0.5s;
}

@media (max-width:999px){

    body{
        overflow-x: hidden;
    }

    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 35vw;
        height: 92vh;
        background: black;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
}


.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

      


h1{
    opacity: 20px;
}

p{
    margin: 20px 50px 50px 50px;
    text-align: left;
}

.paragrafo-esq{

    display: flex;
    align-items: center;
    
}

.paragrafo-dir{
    display: flex;
    justify-content: space-between;
}

#imgTexto{
    width: 400px;
    margin-right: 50px ;
    margin-left: 40px;
}

#imgTitulo{
    width: 500px;
    margin-top: 20px;
}

main {
    margin-top: 35px;
    background: white;
    grid-area: m;
    text-align: center;

}


#aside1 {
    background: white;
    grid-area: a1;
}
#aside2{
    background: white;
    grid-area: a2;
}

footer {
    background: red;
    grid-area: f;
}


.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0vh 80vh 10vh;
    grid-template-areas: 
    "a1 m a2"
    "a1 m a2"
    "a1 m a2"
    "a1 m a2"
    "a1 m a2"
    "a1 m a2"
    "f f f";
    margin-top: 10vh;
}

#section-header {
    display: grid;
    grid-template-areas:
    "titulo titulo"
    "data-pub data-pub";
    grid-template-columns: 100%;
}

#section-titulo {
    grid-area: titulo;
    margin-bottom: 50px;
}

#titulo {
    margin-bottom: 30px;
    font-size: 4vh;
    text-align: left;
}

#semi-titulo {
    font-size: 2vh;
    font-family: 'Carrois Gothic', sans-serif;
    opacity: 90%;
    text-align: left;
}

#data-publicacao {
    grid-area: data-pub;
}




#autor {
    font-size: 14px;
    text-align: left;
    margin-left: 20px;
    font-family: 'Carrois Gothic', sans-serif;
    font-weight: bold;
}

h3 > span {
    font-size: 16px;
    font-family: 'Carrois Gothic', sans-serif;
}

#data > p {
    margin: 0;
    margin-left: 20px;
}