@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');
:root{
    --fontes:'Carrois Gothic', sans-serif; 
    --cor1: white;
    --cor2: black;
    --cor3: yellow;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontes)
}

a{
    color: var(--cor1);
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.5;
}

.logo{
    font-size:24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 10px ;
    
}
header{
    position: fixed;
    top: 0px;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cor2);
    height: 10vh;
    width: 100%;
}

.nav-list{
    display: flex;
    list-style: none;
    
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 25px;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: var(--cor1);
    margin: 8px;
    transition: 0.5s;
}

@media (max-width:999px){

    body{
        overflow-x: hidden;
    }

    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 35vw;
        height: 92vh;
        background: var(--cor2);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }

    .nav-list.active{
        transform: translateX(0);
    }

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
}


.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

      


h1{
    opacity: 20px;
}

#p{
   margin-top: 20px;
   margin-bottom: 40px;
   margin-left: 200px;
   margin-right: 200px;
   text-align: left;
}

.paragrafo-esq{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 200px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    
}
#veja{
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 0px;
    display: flex;
    align-items: center;
}

hr{
    margin-left: 200px;
    margin-right: 200px;
    border-bottom: var(--cor2);
}

#vm{
    margin-left: 100px;
}
#imgTexto{
    width: 400px;
    margin-right: 250px ;
    margin-left: 50px;
    margin-bottom: 20px;
}

#imgTitulo{
    width: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#imgAd{
    width: 200px;
}

main {
    margin-top: 35px;
    background: var(--cor1);
    grid-area: m;
    text-align: center;

}




#aside1 {
    background: var(--cor1);
    grid-area: a1;
    
}


#aside2{
    background: var(--cor1);
    grid-area: a2;
}

#aside1 >#imgAd{
    margin-top: 900px;
   margin-left: 100px;
   margin-right: 100px;
}

#aside2 > #imgAd{
    margin-top: 900px;
    margin-left: 100px;
    margin-right: 100px;

 }

 #p_footer{
    color: var(--cor1);
 }

footer {
    background: var(--cor2);
    grid-area: f;
    width: 100%;
    
}

.footer-link{
    text-decoration: none;
}
#footer_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor1);
    border-radius: 50%;
    transition: all 0.4s;
}
#footer_social_media .footer-link i{
    font-size: 1.25rem;
}
#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807)
}

#facebook{
    background-color: #4237b3;
}

#whatsapp{
    background-color: #25d366;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link{
    color: var(--cor3);
    transition: 0.4s;
}

.footer-list .footer-link:hover{
    color: 7f37c9;

}

#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p{
    color: var(--cor3);
}

#input_group{
    display: flex;
    align-items: center;
    background-color: var(--cor1);
    border-radius: 4px;
}


#input_group input{
    all: unset;
    padding: 0.75rem;
    width: 100%;
}

#input_group button{
    background-color: var(--cor3);
    border: none;
    color: var(--cor2);
    padding: 0px, 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover{
    opacity: 0.8;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: #111111;
    font-size: 0.9rem;
    padding: 1.5rem;
    color: var(--cor1);
}

@media screen and (max-width:768px){
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }    
}

@media screen and (max-width:426px){
    #footer_content{
        grid-template-columns: repeat(1 1fr);
        padding: 3rem 2rem;
    }    
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 0vh 80vh 10vh;
    grid-template-areas: 
    "a1 m a2"
    "a1 m a2"
    "a1 m a2"
    "a1 m a2"
    "a1 m a2"
    "a1 m a2"
    "a1 m a2"
    "a1 m a2"
    "a1 m a2"
    "a1 m a2"
    "a1 m a2"
    "a1 m a2"
    "f f f";
    margin-top: 10vh;
}

#section-header {
    display: grid;
    grid-template-areas:
    "titulo titulo";
    grid-template-columns: 100%;
}

#section-titulo {
    grid-area: titulo;
    margin-bottom: 50px;
}

#titulo {
    margin-bottom: 30px;
    font-size: 4vh;
    text-align: left;
}

#semi-titulo {
    font-size: 2vh;
    font-family: 'Carrois Gothic', sans-serif;
    opacity: 90%;
    text-align: left;
}

#data{
    font-size: 14px;
    text-align: left;
}

#autor {
    font-size: 14px;
    text-align: left;
    margin-left: 20px;
    font-family: 'Carrois Gothic', sans-serif;
    font-weight: bold;
}

#fim{
    text-align: left;
    margin-left: 200px;

}

#mais{
    width: 200px;
    border-radius: 35px;
}
h3 > span {
    font-size: 16px;
    font-family: 'Carrois Gothic', sans-serif;
}

#data > p {
    margin: 0;
    margin-left: 20px;
}


